/* Made by Poukam Ngamaleu */

.container {
    text-align: center;
}

.clock {
    position: relative;
    display: flex;
    align-items: center;
    gap:3px;
    background: #0D3A4A;
    width: 100%;
    color: #FAFAFA;
}

.clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid silver;
    padding: 0.8rem;
}

.clock section p {
    font-size: 40px;
    font-weight: 600;
}
.clock section small {
    color: silver;
    text-shadow: none;

}

@media(max-width: 900px){
    .clock section p {
        font-size: 25px;
        font-weight: 600;
    }
    .clock {
        justify-content: center;
    }
    .clock section {
        padding:0.5rem;
    }
}